In [1]:
import pandas as pd
import numpy as np
import gzip

In [3]:
user_item = pd.read_csv('./Datasets/user_items_cleaned.csv.gz')
steam_games = pd.read_csv ('./Datasets/steam_games_cleaned.csv.gz')
user_reviews = pd.read_csv ('./Datasets/user_review_cleaned.csv.gz')

In [69]:
steam_colums = ['id','genres','year']
steam_games = pd.read_csv('./Datasets/steam_games_cleaned.csv.gz', compression= 'gzip', usecols = steam_colums)

user_item_cols = ['item_id','user_id','playtime_forever']
user_items = pd.read_csv('./Datasets/user_items_cleaned.csv.gz', compression= 'gzip', usecols = user_item_cols)

steam_games.rename(columns={'id':'item_id'}, inplace=True)

In [70]:
steam_users = steam_games.merge(user_items,
                              on='item_id',
                              how='inner')

In [71]:
steam_users['playtime_forever']=steam_users['playtime_forever'] / 60

In [72]:
steam_users

,genres,item_id,year,user_id,playtime_forever
0,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",282010,1997,UTNerd24,0.083333
1,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",282010,1997,I_DID_911_JUST_SAYING,0.000000
2,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",282010,1997,76561197962104795,0.000000
3,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",282010,1997,r3ap3r78,0.000000
4,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",282010,1997,saint556,0.216667
...,...,...,...,...,...
4195269,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",80,2004,76561198273508956,0.000000
4195270,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",80,2004,76561198282090798,0.000000
4195271,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",80,2004,943525,0.000000
4195272,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",80,2004,76561198283312749,0.150000
4195273,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",80,2004,76561198312638244,1.650000

In [73]:
steam_users[steam_users['playtime_forever'] > 0 ]

,genres,item_id,year,user_id,playtime_forever
0,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",282010,1997,UTNerd24,0.083333
4,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",282010,1997,saint556,0.216667
5,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",282010,1997,chidvd,1.833333
6,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",282010,1997,aerpub,0.216667
7,"['Racing', 'Action', 'Classic', 'Indie', 'Gore...",282010,1997,lucifer666678,0.133333
...,...,...,...,...,...
4195263,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",80,2004,76561198208507532,3.383333
4195265,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",80,2004,76561198221578852,4.066667
4195266,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",80,2004,EnVyIsSmexy,0.116667
4195272,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",80,2004,76561198283312749,0.150000
4195273,"['Action', 'FPS', 'Shooter', 'Multiplayer', 'S...",80,2004,76561198312638244,1.650000

In [74]:
genres_unique =  steam_games['genres'].str.split(', ').explode().unique()

In [75]:
len(genres_unique)

902

In [76]:
genres = 'Action'

user_max = steam_users[steam_users['genres'].str.contains(genres)][['user_id','playtime_forever']].groupby('user_id').sum().nlargest(1,'playtime_forever').index

In [77]:
user_max

Index(['Sp3ctre'], dtype='object', name='user_id')

In [80]:
genres_unique = pd.DataFrame(index=genres_unique,columns=['nombre'])

In [81]:
genres_unique

                    nombre
['Strategy'            NaN
'Action'               NaN
'Indie'                NaN
'Casual'               NaN
'Simulation']          NaN
...                    ...
['Soundtrack'          NaN
['Family Friendly']    NaN
['Bowling'             NaN
['Cult Classic'        NaN
['Card Game']          NaN

[902 rows x 1 columns]

In [83]:
tabla_1 = genres_unique.reset_index()

In [85]:
tabla_1

                   index nombre
0            ['Strategy'    NaN
1               'Action'    NaN
2                'Indie'    NaN
3               'Casual'    NaN
4          'Simulation']    NaN
..                   ...    ...
897        ['Soundtrack'    NaN
898  ['Family Friendly']    NaN
899           ['Bowling'    NaN
900      ['Cult Classic'    NaN
901        ['Card Game']    NaN

[902 rows x 2 columns]